.img-user{
    height: 40px !important;
    width: 40px !important;
    border-radius: 50px !important;
}

a:visited {
    color: black !important; /* Cambia el color del enlace visitado */
}

.img-article{
    width: 500px !important;
    height: 350px !important;
}

.sticky-sidebar {
    position: sticky;
    top: 20px;
    height: fit-content;
  }

/* Modo Oscuro */

body.dark-mode #modoJH{
    border-color: rgb(255, 193, 7)!important;
    color:black !important;
}

/* body.dark-mode #modoJH:hover{
    background-color: rgb(243, 171, 3) !important;
} */

body.dark-mode {
    background-color: #121212;
    color: white !important;
}

body.dark-mode a{
    color: white !important;
}

body.dark-mode form p{
    color: white !important;
}

body.dark-mode form{
    color: white !important;
}

body.dark-mode .card{
    color: white;
    background-color: rgb(0, 0, 0) !important;
    border-bottom: solid 1px white !important;
}

body.dark-mode .card-body p{
    color: white;
}
body.dark-mode .card-header a{
    color: white !important;
    text-decoration: none;
}

body.dark-mode .card-header span{
    color: white !important;
}

body.dark-mode .card-footer{
    color: white !important;
}

body.dark-mode ul li a{
    color: black !important;
}

body.dark-mode .puntos{
    color: white;
}

body.dark-mode .text-nav-new{
    color: white !important;
}

body.dark-mode ul .link-iditar-eliminar{
    color: #121212 !important;
}

body.dark-mode .header-and-footer{
    background-color: rgb(42, 42, 42) !important;
}
/* body.dark-mode .Comentarios{
    color:gray !important;
} */

.container-article{
    margin: 65px;
}
.container_carru {
    position: relative;
    height: 500px;
    overflow: hidden;
}

.actions {
    position: absolute;
    top: 50%;
    width: 100%;
    transform: translateY(-50%);
    z-index: 201;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#arrowrigth .arrowrigth,
#arrowleft .arrowleft {
    /* cursor: pointer; */
    position: absolute;
    width: 30px;
    height: 30px;
    z-index: 201;
    text-decoration: none;
    color: transparent !important;
}

#arrowrigth .arrowrigth {
    right: 20px;
    transform: rotate(270deg);
}

#arrowleft .arrowleft {
    left: 20px;
    transform: rotate(90deg);
}

.carousel-item {
    position: relative;
    /* width: 100%;
    height: 100%; */
    perspective: 120px;  /* Aumentar para mayor efecto 3D */
    display: flex;  /* Usar flexbox para alineación de imágenes */
    justify-content: center;
    align-items: center;
}

.carousel-item {
    position: absolute;
    /* top: 50%; */
    transform-style: preserve-3d;
    transition: transform 1s ease, opacity 1s ease;
    /* opacity: 0;  Comienza con opacidad 0 para la animación */
}

.carousel-imagen{
    margin-top: 7%;
    width: 45%;
    height: 60%;
}
.img_center {
    transform: translateX(-50%) translateZ(200px) scale(1);
    left: 50%;
    opacity: 1;
    z-index: 3;  /* Más alto para que se muestre sobre las otras imágenes */
}

.img_left {
    transform: translateX(-150%) translateZ(100px) scale(0.8);
    left: 50%;
    opacity: 0.7;
    z-index: 2;
}

.img_rigth {
    transform: translateX(50%) translateZ(100px) scale(0.8);
    left: 50%;
    opacity: 0.7;
    z-index: 2;
}

.img_center_single {
    transform: translateX(-50%) translateZ(200px) scale(1);
    left: 50%;
    opacity: 1;
    z-index: 3; /* La imagen debe tener prioridad */
}

/* Imágenes adicionales (escondidas) */
.carousel-item.additional {
    transform: translateX(0) translateZ(-300px) scale(0.5); /* Detrás y más pequeñas */
    opacity: 0; /* Ocultas visualmente */
    z-index: 1; /* Muy detrás */
    transition: transform 0.5s ease, opacity 0.5s ease;
}
