{% extends 'base.html' %}

{% load static %}
{% load crispy_forms_tags %}

{% block title %} Home {% endblock title %}

{% block content %}
    {% if user.is_authenticated %}
        {% for article in articles %}
            <div class="card mt-3 dropdown">
                <div class="card-header d-flex  header-and-footer">
                    <span class="font-weight-bold b">
                        <img style="height: 30px; width: 30px; border-radius: 50%;" class="img-fluid img-user me-1" 
                            src="{% if article.author.image and article.author.image.url %}{{ article.author.image.url }}{% else %}{% static 'img/user.png' %}{% endif %}" alt="{{ article.author }}">
                    </span>&middot;
                    <span class="text-muted"><strong>{{ article.title }}</strong>  | {{ article.date }}</span>

                    {% if article.author.username == request.user.username %}
                        <!-- Botón con tres puntos -->
                        <button class="btn btn-secondary ms-auto" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                            &#x22EE; <!-- Tres puntos verticales -->
                        </button>
                
                        <!-- Opciones del menú desplegable -->
                        <ul class="dropdown-menu text-end" aria-labelledby="dropdownMenuButton">
                            <li>
                                <a class="dropdown-item link-iditar-eliminar" href="{% url 'article_edit' article.pk %}">
                                    <p>Edit</p>
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item link-iditar-eliminar " href="{% url 'article_delete' article.pk %}">
                                    <p class="text-danger">Delete</p>
                                </a>
                            </li>
                        </ul>
                    {% endif %}
                </div>
                
                <div class="card-body">
                    {% if article.article_images_related.exists %}
                        <!-- Carrusel de imágenes -->
                        <div class="container_carru container-fluid" id="carousel-{{ article.id }}">
                            <div class="actions" id="actions-{{ article.id }}">
                                <a class="arrow btn" id="arrowleft-{{ article.id }}">⏪</a>
                                <a class="arrow btn" id="arrowrigth-{{ article.id }}">⏩</a>
                            </div>
                            <!-- condicionales que nos ayuda a indentificar si hay mas de una imagen o mas de tres -->
                            <div class="items" id="items-{{ article.id }}">
                                {% with article.article_images_related.all|length as image_count %}
                                    {% for image in article.article_images_related.all %}
                                        <img src="{{ image.image.url }}" 
                                             class="carousel-item carousel-imagen 
                                                    {% if image_count == 1 %}img_center_single{% 
                                                    elif forloop.first %}img_center{% 
                                                    else %}img_left{% endif %}" 
                                             alt="Article Image">
                                    {% endfor %}
                                {% endwith %}
                            </div>
                        </div>
                                               
                    {% else %}
                        <!-- Mensaje si no hay imágenes -->
                        <p class="text-justify">No images available for this article.</p>
                    {% endif %}
                
                    <!-- Texto del artículo -->
                    <p class="pt-5 ps-5 pe-5 text-justify">{{ article.body }}</p>
                </div>
                

                <div class="card-footer text-start header-and-footer">
                    <!-- Botón para mostrar u ocultar comentarios -->
                    <button class="btn btn-secondary Comentarios" type="button" data-bs-toggle="collapse" data-bs-target="#commentsSection{{ article.id }}" aria-expanded="false" aria-controls="commentsSection">
                        Comentarios
                    </button>
                
                    <!-- Sección de comentarios colapsable -->
                    <div class="collapse" id="commentsSection{{ article.id }}">
                        <!-- Recorre y imprime los comentarios del articulo mostrando la imagen de usuario el nombre y el comentario -->
                        {% for comment in article.comment_set.all %}
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-9">
                                        <div class="comment p-2">
                                            <img style="height: 30px; width: 30px; border-radius: 50%;" class="img-fluid img-user" 
                                                src="{% if comment.author.image and comment.author.image.url %}{{ comment.author.image.url }}{% else %}{% static 'img/user.png' %}{% endif %}" 
                                                alt="{{ comment.author.username }}">
                                            <span class="font-weight-bold">{{ comment.author }} &middot;</span>
                                            <span class="ms-1">{{ comment.comment }}</span>
                                        </div>
                                    </div>

                                    <div class="col-3">
                                        <!-- Indicaa que si el usuario que esta logeado es el creador puede ver las opciones de eliminar y editar -->
                                        {% if comment.author == user %}
                                            <div class="dropdown d-inline text-end">
                                                <button class="btn btn-sm puntos" type="button" id="dropdownMenuButton{{ comment.id }}" data-bs-toggle="dropdown" aria-expanded="false">
                                                    &#x22EE;
                                                </button>
                                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton{{ comment.id }}">
                                                    <li><a class="dropdown-item" href="{% url 'comment_edit' comment.pk %}"><p>Edit</p></a></li>
                                                    <li><a class="dropdown-item text-danger" href="{% url 'comment_delete' comment.pk %}"> <p class="text-danger">Delete</p></a></li>
                                                </ul>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                        <!-- Formulari para añadir un comentario -->
                        <h4>Add a comment</h4>
                        <form method="POST">
                            {% csrf_token %}
                            {{ form|crispy }}
                            <input type="hidden" name="article_id" value="{{ article.id }}">
                            <button class="btn btn-success ml-2" type="submit">Save</button>
                        </form>
                    </div>
                </div>
            </div>
            <br />
        {% endfor %}
    {% else %}
        <p>You are not logged in</p>
        <a href="{% url 'login' %}">Log In</a>
        <a href="{% url 'signup' %}">Sign Up</a>
    {% endif %}

{% endblock content %}

